<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

<!-- wp:pattern {"slug":"platfourm/hero"} /-->
<!-- wp:pattern {"slug":"platfourm/stats"} /-->
<!-- wp:pattern {"slug":"platfourm/about"} /-->
<!-- wp:pattern {"slug":"platfourm/services"} /-->
<!-- wp:pattern {"slug":"platfourm/projects"} /-->
<!-- wp:pattern {"slug":"platfourm/why"} /-->
<!-- wp:pattern {"slug":"platfourm/cta"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
